.sdf {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2ba9d7;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #FFBAC3 100%);
  }

.other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.top{
    height: 8%;
    background: rgba(145, 188, 207, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.top ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    border-radius: 15px;
    padding-inline-start:10px;
}
.top li {
    width: 17%;
    float:left;
    margin-right:2%;
    overflow: hidden;
    border-radius: 15px;
}

.top li a {
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
}

.top li:nth-child(1) {
    float:none;
    overflow: visible;
    height: 20%;
    width: 15%;
    margin-right:0%;
}

.top li:nth-child(5), .top li:nth-child(6) {
    float:none;
    width: 30%;
    margin-right:0%;
}
.top li a:hover{
    background-color: rgb(89, 214, 197);
}



.phone-set {
    display: none;
}
.phone-font {
    display: none;
}
.buttongit {
    display: none;
}

#com-font {
    position:absolute;
    height: 0.1rem;
    color: #fff;
}