$colors: #c0392b, #d35400, #f39c12, #27ae60, #16a085, #2980b9, #8e44ad, #2c3e50,
  #7f8c8d !default;
$theme-color: #c24bf5;
$vp-font: '"LXGW WenKai", cursive,Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Sans SC", "WenQuanYi Micro Hei"';
$vp-font-heading: '"LXGW WenKai", cursive';
$vp-font-mono: '"JetBrains Mono", monospace';

