$theme-color: #d489ff;
$vp-font: '"LXGW WenKai", cursive,Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Sans SC", "WenQuanYi Micro Hei"';
$vp-font-heading: '"LXGW WenKai", cursive';
$vp-font-mono: '"JetBrains Mono", monospace';